<div class="container mt-3" *ngIf="!registerModeMahasiswa && !detailModeMahasiswa && !editModeMahasiswa">
  <h2 class="text text-primary">Data Mahasiswa</h2>
  <hr>
  <nav class="navbar">
    <div class="col-sm-12 col-md-6">
      <div id="example_filter" class="dataTables_filter">
        <label>Search:
          <input class="form-control pull-right" type="text" name="search" [(ngModel)]="filter">
        </label>
      </div>
    </div>


    <button class="btn btn-primary" (click)="registerToggle()"><i class="fa fa-plus" aria-hidden="true"></i> Tambah Mahasiswa</button>


  </nav>
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th style="width: 5.00%">NIM</th>
          <th style="width: 20.00%">Nama</th>
          <th style="width: 15.00%">Tanggal Lahir</th>
          <th style="width: 10.00%">JK</th>
          <th style="width: 30.00%">Alamat</th>
          <th style="width: 20.00%">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let mahasiswa of mahasiswas | filter:filter| paginate: {itemsPerPage:5,currentPage:p} ; let i = index">
          <td>{{mahasiswa.nim}}</td>
          <td>{{mahasiswa.namaMhs}}</td>
          <td>{{mahasiswa.tglLahir | date:'dd/MM/yyyy'}}</td>
          <td>{{mahasiswa.jenisKelamin}}</td>
          <td>{{mahasiswa.alamat}}</td>
          <td>
            <div>
              <button class="btn btn-outline-success mr-1" (click)="detailToggle(mahasiswa.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-outline-info mr-1" (click)="editToggle(mahasiswa.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button class="btn btn-outline-danger" (click)="openModal(template); setMahasiswaId(mahasiswa.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pagination pull-right mb-4" (pageChange)="p = $event"></pagination-controls>
</div>

<!-- REGISTER -->
<div *ngIf="registerModeMahasiswa" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register-mahasiswa (cancelRegister)="cancelRegisterMode($event)" (updateMahasiswa)="getMahasiswa()">
      </app-register-mahasiswa>
    </div>
  </div>
</div>

<!-- EDIT -->
<div *ngIf="editModeMahasiswa" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-edit-mahasiswa [idFromMahasiswaToEdit]="mahasiswaIdClick" (cancelEdit)="cancelEditMode($event)" (updateMahasiswa)="getMahasiswa()">
      </app-edit-mahasiswa>
    </div>
  </div>
</div>


<!-- DETAIL -->
<div *ngIf="detailModeMahasiswa" class="container mt-5">
  <app-detail-mahasiswa [idFromMahasiswa]="mahasiswaIdClick" (cancelRegister)="cancelDetailMode($event)"></app-detail-mahasiswa>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Konfirmasi untuk menghapus?</p>
    <button type="button" class="btn btn-danger mr-1" (click)="confirm()" >Ya</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Tidak</button>
  </div>
</ng-template>