<div class="container mt-3" *ngIf="!registerModeMatkul">
  <h2 class="text text-primary">Data Mata Kuliah</h2>
  <hr>
  <nav class="navbar">
    <div class="col-sm-12 col-md-6">
      <div id="example_filter" class="dataTables_filter">
        <label>Search:
          <input class="form-control pull-right" type="text" name="search" [(ngModel)]="filter">
        </label>
      </div>
    </div>


    <button class="btn btn-primary" (click)="registerToggle()">Tambah Mata Kuliah</button>


  </nav>
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th style="width: 20.00%">Kode MK</th>
          <th style="width: 50.00%">Mata Kuliah</th>
          <th style="width: 20.00%">SKS</th>
          <th style="width: 10.00%">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matkul of matkuls | filter:filter| paginate: {itemsPerPage:5,currentPage:p} ; let i = index">
          <td>{{matkul.kodeMK}}</td>
          <td>{{matkul.namaMK}}</td>
          <td>{{matkul.sks}}</td>
          <td>
            <div>
              <button class="btn btn-outline-danger" (click)="deleteMatkul(matkul.id)"><i class="fa fa-trash-o"
                  aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pagination pull-right" (pageChange)="p = $event"></pagination-controls>
</div>

<!-- REGISTER -->
<div *ngIf="registerModeMatkul" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register-mata-kuliah (cancelRegister)="cancelRegisterMode($event)" (updateMatkul)="getMataKuliah()">
      </app-register-mata-kuliah>
    </div>
  </div>
</div>