<div class="container mt-3" *ngIf="!registerModePerkuliahan">
  <h2 class="text text-primary">Data Perkuliahan</h2>
  <hr>
  <nav class="navbar">
    <div class="col-sm-12 col-md-6">
      <div id="example_filter" class="dataTables_filter">
        <label>Search:
          <input class="form-control pull-right" type="text" name="search" [(ngModel)]="filter">
        </label>
      </div>
    </div>


    <button class="btn btn-primary" (click)="registerToggle()">Tambah Perkuliahan</button>


  </nav>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 25.00%">Mahasiswa</th>
          <th style="width: 20.00%">Mata Kuliah</th>
          <th style="width: 10.00%">Nilai</th>
          <th style="width: 25.00%">Dosen</th>
          <th style="width: 20.00%">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let perkuliahan of perkuliahans | filter:filter| paginate: {itemsPerPage:5,currentPage:p} ; let i = index">
          <td>{{perkuliahan.mahasiswa.namaMhs}}</td>
          <td>{{perkuliahan.mataKuliah.namaMK}}</td>
          <td>{{perkuliahan.nilai}}</td>
          <td>{{perkuliahan.dosen.namaDosen}}</td>
          <td>
            <div>
              <button class="btn btn-light mr-1" (click)="registerToggle()">Ubah</button>
              <button class="btn btn-danger" (click)="registerToggle()">Hapus</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pagination pull-right" (pageChange)="p = $event"></pagination-controls>
</div>

<!-- REGISTER -->
<div *ngIf="registerModePerkuliahan" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register-perkuliahan (cancelRegister)="cancelRegisterMode($event)" (updatePerkuliahan)="getPerkuliahan()">
      </app-register-perkuliahan>
    </div>
  </div>
</div>