<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class=" navbar-brand" href="#">TesAdaroApp</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/mahasiswa']" >Mahasiswa</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/perkuliahan']" >Perkuliahan</a>
      </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/dosen']" >Dosen</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/mata-kuliah']" >Mata Kuliah</a>
    </li>
  </ul>
</nav>