<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class=" navbar-brand" href="#">TesAdaroApp</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Mahasiswa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dosen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mata Kuliah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Perkuliahan</a>
    </li>
  </ul>
</nav>