<div class="container">
    <button class="btn btn-primary mb-3" (click)="cancel()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Kembali</button>
  <div class="row">
    <div class="col-sm">
      <h1>Informasi Umum</h1>
      <hr>
      <table class="table">
        <tr>
          <td>Nama</td>
          <td>{{model.namaMhs}}</td>
        </tr>
        <tr>
          <td>NIM</td>
          <td>{{model.nim}}</td>
        </tr>
        <tr>
          <td>Tanggal Lahir</td>
          <td>{{model.tglLahir | date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>{{model.alamat}}</td>
        </tr>
        <tr>
          <td>Jenis kelamin</td>
          <td>{{model.jenisKelamin}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm">
      <h1>Perkuliahan</h1>
      <hr>


      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nilai</th>
              <th>Nama Dosen</th>
              <th>MataKuliah</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let perkuliahan of modelperkuliahan | filter:filter| paginate: {itemsPerPage:5,currentPage:p} ; let i = index">
              <td>{{perkuliahan.nilai}}</td>
              <td>{{perkuliahan.dosen.namaDosen}}</td>
              <td>{{perkuliahan.mataKuliah.namaMK}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls class="pagination pull-right" (pageChange)="p = $event"></pagination-controls>



    </div>
  </div>
</div>